*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
}

.hide {
  display: none;
}

.win-loss-container {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.btn {
  background: radial-gradient(circle, #bf0a30 0%, #ffd700 100%);
  border-radius: 8px;
  color: white;
  text-shadow: -0.5px -0.5px 0 #002868, 0.5px -0.5px 0 #002868,
    -0.5px 0.5px 0 #002868, 0.5px 0.5px 0 #002868;
  cursor: pointer;
  font-size: 2em;
  letter-spacing: 0.21px;
  line-height: 16px;
  max-width: 255px;
  padding: 20px 52px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: background-color;
  transition-timing-function: linear;
  margin-top: 0.6em;
}

.btn:hover,
.btn:focus {
  background: radial-gradient(circle, #ffd700 0%, #bf0a30 100%);
}

.reset-button {
  font-size: 16px;
  height: 30px;
  line-height: 8px;
  margin-top: 20px;
}

.reset-button:hover,
.reset-button:focus {
  background: radial-gradient(circle, #ffd700 0%, #bf0a30 100%);
}

header {
  padding: 40px;
  text-align: center;
  /* background: #002868; */
  color: #ffd700;
  text-shadow: -1px -1px 0 #7f9695, 1px -1px 0 #7f9695, -1px 1px 0 #7f9695,
    1px 1px 0 #7f9695;
  border-bottom: 30px #7f9695;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

section {
  flex: 0 auto;
  padding: 8px;
  margin-top: 50px;
  border-radius: 8px;
}

.word-guess {
  width: 55vw;
  height: 400px;
}

.results {
  width: 30vw;
  height: 400px;
}

.card {
  background: url("../images/us-co-splat-01-M.png") white;
  background-size: cover;
  border: 1px solid #7f9695;
  border-radius: 8px;
  box-shadow: #7f9695 0 1px 2px 0, rgba(126, 149, 148, 0.15) 0 2px 4px 3px;
  margin: auto;
  padding: 20px;
  color: white;
  text-align: center;
  text-shadow: -1px -1px 0 #002868, 1px -1px 0 #002868, -1px 1px 0 #002868,
    1px 1px 0 #002868;
}

.card2 {
  background: white;
  border: 1px solid #7f9695;
  border-radius: 8px;
  box-shadow: #7f9695 0 1px 2px 0, rgba(126, 149, 148, 0.15) 0 2px 4px 3px;
  margin: auto;
  padding: 20px;
  color: #ffd700;
  text-align: center;
  text-shadow: -1px -1px 0 #002868, 1px -1px 0 #002868, -1px 1px 0 #002868,
    1px 1px 0 #002868;
}

.word-blanks {
  line-height: 360px;
}

.large-font {
  font-size: 3.5em;
  text-align: center;
}

.timer {
  border: 1px solid #7f9695;
  border-radius: 8px;
  box-shadow: #7f9695 0 1px 2px 0, rgba(126, 149, 148, 0.15) 0 2px 4px 3px;
  margin: auto;
  height: 240px;
  padding: 10px;
  color: #ffd700;
  text-align: center;
  text-shadow: -1px -1px 0 #002868, 1px -1px 0 #002868, -1px 1px 0 #002868,
    1px 1px 0 #002868;
}

.timer-text {
  padding: 55px;
}

@media screen and (max-width: 1183px) {
  main {
    flex-direction: column;
  }

  .word-guess,
  .results {
    width: 90vw;
  }

  section {
    margin: 20px auto;
    width: 92vw;
  }
}

@media screen and (max-width: 504px) {
  .large-font {
    font-size: 2em;
  }

  .reset-button {
    font-size: 12px;
    width: 20ox;
  }

  .timer {
    height: 200px;
  }
}

.bg {
  animation: slide 10s ease-in-out infinite alternate;
  background-image: linear-gradient(+60deg, #002868 50%, #bf0a30 50%);
  bottom: 0;
  left: -50%;
  /* opacity: 0.15; */
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 9s;
}

.bg3 {
  animation-duration: 10s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

/* .keyboard {
  display: grid;
  grid-template-columns: repeat(20, minmax(auto, 1.25em));
  grid-auto-rows: 3em;
  gap: 0.25em;
  justify-content: center;
}

.key {
  font-size: inherit;
  grid-column: span 2;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(
    var(--hue, 177),
    var(--saturation, 10%),
    calc(var(--lightness-offset, 0%) + var(--lightness, 54%))
  );
  color: white;
  fill: white;
  text-transform: lowercase;
  border-radius: 0.25em;
  cursor: pointer;
  user-select: none;
}

.key.large {
  grid-column: span 3;
}

.key > svg {
  width: 1.75em;
  height: 1.75em;
}

.key:hover,
.key:focus {
  --lightness-offset: 10%;
} */
